<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="emitter.js"></script>
</head>
<body>
<script>
    function aEat(callback){
        setTimeout(function(){
            callback();
        },1000);
    }
    function bEat(callback){
        setTimeout(function(){
            callback();
        },1000);
    }
    var emitter = new Emitter();
    emitter.on('finish-en-homework',function(data){
        console.log(data);
    });
    emitter.on('finish-cn-homework',function(data){
        console.log(data);
    });
    emitter.when("finish-en-homework","finish-cn-homework",function(data){
        console.log(data,"可以去玩了");
    });
    setTimeout(function(){
        aEat(function(){
            emitter.fire('finish-en-homework','英语作业做完了。。。');
        });
        bEat(function(){
            emitter.fire('finish-cn-homework','语文作业做完了。。。');
        });
    },1000);

    setTimeout(function(){
        aEat(function(){
            emitter.fire('finish-en-homework','英语作业又做了一遍。。。');
        });
        bEat(function(){
            emitter.fire('finish-cn-homework','语文作业又做了一遍。。。');
        });
    },1500);

</script>
</body>
</html>